<html>
<head>
<div class="h1 transbox"><body class="body">
 <%=user_name%>, you are <%=age%> years old, your 3 favorite numbers are: <%=fav_num_1%>, <%=fav_num_2%> and <%=fav_num_3%>. When you add all your favorite numbers up, you get <%=sum%> and that is <%=results%> your age. 
</body>
</div>
<div><img src="http://www.teamjimmyjoe.com/wp-content/uploads/2015/06/Baby-Ninja.gif">
</div>
</head>
</html>